<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
  </head>
  <body>

    <h1>Movies</h1>
    <label for="movie-title">Enter a movie title:</label>
    <input id="movie-title" type="text" name="movie-title" value="">
    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="./javascripts/app.js"></script>

    <img src="" alt="" id="poster">

    <section>
        <h2>Movie Information:</h2>
        <h3>Title:</h3>
        <p id="title"></p>
        <h3>Year:</h3>
        <p id="year"></p>
    </section>



  </body>
</html>
